html,
body {
    box-sizing: border-box;
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: snow;
  border: 2px black;
  font-family: "PingFang-SC" "Consolas", "微软雅黑";
  user-select: none;
  max-width: 450px;
}
* {
    max-width: 450px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
